.card__container{
    position: relative;
    border: 3px solid #3E4357;
    border-radius: 10px;
    width: 350px;
    height: 500px;
    display: flex;
    overflow: hidden;
    margin-bottom: 10px;
}

.card__img {
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
}
.card__img:hover {
   transform: scale(1.1);
}